target/classes/sample-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="sample-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8092" />
    </http:listener-config>
    <apikit:config name="sample-sys-api-config" api="sample-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="10a45766-e8cd-4b87-a158-37d19339323e" >
		<http:request-connection host="localhost" port="8093" />
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="ac87b8aa-f95a-4549-822d-9f177b8c020a" />
	<flow name="sample-sys-api-main">
        <http:listener config-ref="sample-sys-api-httpListenerConfig" path="/sample-sys-api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sample-sys-api-config" />
    </flow>
    <flow name="post:\patient:application\json:sample-sys-api-config">
        <ee:transform doc:name="Transform Message" doc:id="be7ed7be-f539-48df-af7c-1d3ba1f6945d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="headers" ><![CDATA[%dw 2.0
output application/json
---
{
	"client-id": attributes.headers."client-id",
	"client_secret": attributes.headers."client_secret"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="6ccf29dd-65fc-4e99-acdb-a481326e3e5d" config-ref="File_Config" path="C:\Users\SW20282878\Documents\sampleoutput\sample1.txt" mode="CREATE_NEW"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "patient profile write successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    
    </flow>
</mule>
